
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4" id="the-basket">
        <%= image_tag "basket-view-bg.png" %>
        <p id="whats"> What's in your </p>
        <p id="belly"> Belly </p>

        <% order.order_items.each do |item| %>

          <div class="col-md-6" id="product-rectangle">
            <div id="rectangle-image">
              <%= image_tag "rectangle-produit.png" %>
                <div class="col-md-6" id="quant-name">
                  <p id="quantity"><%= item.quantity %>X</p>
                       <p id="full-name"><%= item.ordered_item.full_name %></p>
                      </div>
                   <!--  <#%= number_to_currency item.sub_total %>
                    <#%= number_to_currency item.tax_amount %> -->
                      <div class="col-md-6" id="t-price">
                        <p id="total-price"><%= number_to_currency item.total %></p>
                      </div>
                    </div>
                  </div>
                <% end %>

                <div class="col-md-4" id="price">
                  <% if order.delivery_service %>
                    <%= order.delivery_service.name %>
                    <%= number_to_currency order.delivery_price %>
                    <%= number_to_currency order.delivery_tax_amount %>
                    <%= number_to_currency order.delivery_price + order.delivery_tax_amount %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

            <td colspan='4'>Sub-Total</td>
            <td><%= number_to_currency order.total_before_tax %></td>
            <td colspan='4'>Tax</td>
            <td><%= number_to_currency order.tax %></td>
            <td colspan='4'>Total</td>
            <td><%= number_to_currency order.total %></td>

      </div>
      <div class="col-md-4"></div>
  </div>
</div>
