
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <div id = "the-basket">
        <%= image_tag "basket-bg.png" %>
        </div>
        <p id="whats"> What's in your </p>
        <p id="belly"> Belly </p>

        <% order.order_items.each do |item| %>

          <div class="col-md-6" id="product-rectangle">
            <div id="rectangle-image">
              <%= image_tag "rectangle-produit.png" %>
              <p id="quantity"><%= item.quantity %>X</p>
              <p id="full-name"><%= item.ordered_item.full_name %></p>
              <p id="total-price"><%= number_to_currency item.total %></p>
            </div>
          </div>
        <% end %>

          <% if order.delivery_service %>
            <p id="delivery-day"><%= order.delivery_service.name %></p>
            <p id="delivery-price"><%= number_to_currency order.delivery_price %></p>
            <p id="totaly-spice"><%= number_to_currency order.total %></p>
          <% end %>

           <div id='totally-spice'>
             <p id="ttp">To pay on delivery:</p>
              <%= number_to_currency order.total %>
            </div>

          <p id="check-it-out"><%= link_to 'Checkout', checkout_path%></p>
          <p id="empty-it"><%= link_to 'Empty belly', basket_path, :method => :delete %></p>

      </div>
  </div>
</div>
