
<div class="container-fluid">
  <div class="row">
    <div class = "col-md-4 col-md-offset-4" id="form">
      <%= image_tag "basket-bg-bck.png" %>

      <p id="a-click">You're a click away to</p> <p id="yummy">yummyland:</p>

      <%= form_for @order, :url => checkout_path do |f| %>

      <div id="check-name">
        <%= f.text_field :first_name, placeholder: 'First name' %> <%= f.text_field :last_name, placeholder: 'Last name' %>
      </div>

      <div id= "check-add">
        <%= f.text_field :billing_address1, placeholder: 'Your address'%> <%= f.text_field :billing_postcode, placeholder: 'Zip code' %>
        <%= f.hidden_field :billing_address2, value: "test" %>
        <%= f.hidden_field :billing_address3, value: "test" %>
        <%= f.hidden_field :billing_address4, value: "test" %>
      </div>

      <div id= "check-delivery">
        <p> Choose a day to be delivered: </p>
        <%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true %>
      </div>

      <div id= "check-email">
        <%= f.text_field :email_address, placeholder: 'E-mail' %>
      </div>

      <div id="check-phone">
        <%= f.text_field :phone_number, placeholder: 'and a phone number...' %>
      </div>

      <div id="check-continue">
        <%= f.submit 'Confirm' %>
      </div>

      <% end %>

      <div id= "close">
        <%= link_to_image "go-back-btn.png", basket_path %>
      </div>

    </div>
  </div>
</div>
