
<div class= "basket">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <% if current_order %>
          <div id="basket-tag">
          <%= image_tag "basket-tag-black.png" %>
          </div>
          <p id="items-number"><%= pluralize current_order.total_items, ''%></p>
          <p id="pieces"> pcs </p>
          <p id="inyour"> IN YOUR BASKET </p>
          <p id="cost">WHICH COST:</p>
          <p id="price"><%= number_to_currency current_order.total_before_tax %></p>
          <p id="checkout"><%= link_to "View basket", basket_path %>
        <% end %>
      </div>
      <div class="col-md-4"></div>
      </div>
    </div>
  </div>

<% @products.each do |category, products| %>

<div class="product-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class ="col-md-4" id="pack">
        <% products.each do |product| %>
        <p id="price"><%= number_to_currency product.price %></p>
        <h4><%= product.name.upcase %></h4>
        <p id="description"><%= product.short_description %></p>
        <div id = "add-button">
          <%= link_to_image "add-me.png", product_path(product.permalink), :method => :post %>
        </div>
     </div>
      <div class="col-md-8">
        <% if product.default_image %>
       <%= image_tag product.default_image.path, :width => '300px', :style => "float:right" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>

  <!-- <#%= link_to "View basket", basket_path %>
  <#%= flash[:notice] %> -->

<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->


<!-- <div class="container">
  <div class="row">
    <div class ="col-md-8">
      <#%= link_to "Checkout", checkout_path %>
      <#%= render 'orders/items', :order => current_order %>
    </div>
    <div class ="col-md-4"></div>
  </div>
</div>
</body> -->
