<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Chupbox</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>

  <!-- NAVBAR -->


  <!-- BODY -->

  <!-- this line summarize your basket -->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <% if current_order %>
          <p style="border:1px solid black;padding:10px;">
          You have <%= pluralize current_order.total_items, 'meals'%> in your basket which cost
          <%= number_to_currency current_order.total_before_tax %>.
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <%= yield %>

  <!-- Links to the basket and the checkout pages -->
  <%= link_to "View basket", basket_path %>
  <%= flash[:notice] %>

  <%= link_to "Checkout", checkout_path %>

  <!-- FOOTER -->
  <%= render "layouts/footer" %>

</body>

</html>
